**/node_modules/
./node_modules
.env
**/.DS_Store/
**/dist/
**/build/
**/coverage/
**/temp/
**/.env
**/generated/
**/__subgraph__/
**/__result__/
**/yarn-error.log
.DS_Store

.docker/.env
.docker/volumes